.filterSearch {
    position: relative;
    transition: color 2s ease-in-out;
}

.notFound {
    display: block;
    width: 200px;
    min-height: 40px;
    padding: 1em;
    font-size: 10px;
    color: red;
    background-color: #ffd6dd;
    border-radius: 1em;
    transition: all 1.3s ease-in-out;
}

.labelFilter {
    font-size: 10px;
    margin-right: 10px;
}

.inputFilter {
    margin-left: 10px;
}

.input {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ffae00;
}
