
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.blockMain {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 1em;
}

button {
    cursor: pointer;
}